.pwd-page .theme-form input {
    border-color: #dddddd;
    font-size: 15px;
    padding: 12px 6px;
    margin-bottom: 14px;
    height: inherit;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 0px;
}

.pwd-page {
    background: linear-gradient(to bottom, #ffffff 52%, #d7d7d7 100%);
    .bg-gradient {
        background: #d9d9d9!important;
    }
}

.roundbtn{
    border-radius: 22px;
    padding: 10px 26px;
}
.pwd-page[_ngcontent-serverApp-c178] .theme-form[_ngcontent-serverApp-c178] input[_ngcontent-serverApp-c178] {
    border-color: #dddddd;
    font-size: 15px;
    padding: 12px 6px;
    margin-bottom: 14px;
    height: inherit;
    text-align: left;
    border-radius: 30px;
}