.onlymobile{
    display: none!important;
}

@media (max-width: 577px){
    .onlymobile{
        display: inline!important;
    }
}


@media (max-width: 1199px){    
    .onlymobile header .sidenav .sidebar-menu li a {
        padding: 4px 16px!important;
        line-height: 9px!important;
    }
}