.swp{
    display: inline;
}
.smp{
    display: none;
}

@media (max-width: 577px){
    .swp{
        display: none;
    }
    .smp{
        display: inline;
    }
    .border-section {
        border-top: 0px!important;
        border-bottom: 0px!important;
    }
}

.fa-phone:before {
    content: "";
    font-size: 40px;
}

.fa-whatsapp:before {
    content: "";
    font-size: 40px;
}

.btn {
    font-weight: 100;
}