<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

<!-- thank-you section start -->
<section class="section-b-space light-layout"  *ngIf="readorder">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text" >
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <!-- <p>Payment is successfully processsed and your order is on the way</p> -->
                    <!-- <p>Transaction ID:267676GHERT105467</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space"  *ngIf="readorder">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3 style="margin-bottom: 5px;">your order details</h3>
                    <div class="row product-order-detail">
                        <div class="col-6 order_detail">
                            <div>
                                <h4>product name</h4>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>quantity</h4>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>price</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row product-order-detail" *ngFor="let item of readorder.product">
                        <div class="col-6 order_detail">
                            <div>
                                <h5>{{ item.product_name }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h5>{{ item.product_qty }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h5>{{ item.product_amount }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>subtotal <span>{{ readorder.sub_total }}</span></li>
                            <li *ngIf="readorder.discount_amount > 0">Discount  <span>{{readorder.discount_amount}}</span></li>
                            <li *ngIf="readorder.coupon" style="color: red; font-size: 12px;">Coupon Applied <span>{{readorder.coupon}}</span></li>
                            <li>shipping <span>0.00</span></li>
                            <li>tax(GST) <span>{{readorder.total_tax}}</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>{{ (readorder.grandtotal-readorder.discount_amount) }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summery</h4>
                        <ul class="order-detail">
                            <li>order ID: #{{ readorder.order_no }}</li>
                            <li>Order Date: {{ readorder.order_date }}</li>
                            <li>Order Total: {{ (readorder.grandtotal-readorder.discount_amount) }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{ readorder.cmp_name }}</li>
                            <li>{{ readorder.cmp_address }}</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode" style="display: none;">
                        <h4>payment method</h4>
                        <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking acceptance subject to device availability.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>expected date of delivery</h3>
                            <h2>{{ readorder.date }} {{ readorder.slot_time }}</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success" (click)="continueshopping()">Continue Shopping</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->