<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'" class="headerhiddenmobile"></app-breadcrumb>
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">                            
                            <div class="checkout-details table table-responsive" style="padding: 10px 10px !important;">
                                <table class="table" *ngIf='products.length'>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size: 12px;" *ngFor="let product of products">
                                            <td>
                                                {{ product.title }}
                                            </td>
                                            <td>
                                                {{ product.quantity }}
                                            </td>
                                            <td>
                                                {{ (product.price * product.quantity ) | currency:productService?.Currency.currency:'symbol' }}
                                            </td>
                                        </tr>
                                        <tr style="font-weight: bold; font-size: 16;border-top: 1px solid #dddddd;">
                                            <td>Sub Total </td>
                                            <td> {{ subqty }} </td>                                            
                                            <td>{{ finalamt | currency:productService?.Currency.currency:'symbol' }}</td>
                                        </tr>
                                        <tr *ngIf="deliveryamt > 0" style="font-weight: bold; font-size: 16;vertical-align: inherit;border-top: 1px solid #dddddd;">
                                            <td colspan="2">
                                                Delivery Charge 
                                                <span style="color:red;font-size:10px;">{{deliverymsg}}</span>
                                            </td>
                                            <td >{{deliveryamt  | currency:productService?.Currency.currency:'symbol' }}</td>
                                        </tr>
                                        
                                        <tr style="font-weight: bold; font-size: 16; border-top: 1px solid #dddddd;" *ngIf="couponStatus==0 && isLogin">
                                            <td style="vertical-align: inherit;" colspan="2"> 
                                                <input class="selfcouponcode" type="text"  [(ngModel)]="couponcode" name="couponcode" placeholder="Coupon Code" />
                                            </td>
                                            <td style="vertical-align: inherit;">
                                                <button style="margin: 5px 0px;border-radius: 18px;background-color: #1AE000;
                                                border-color: #1AE000;" class="btn btn-sm btn-success" (click)="applycode()">Apply</button>
                                            </td>  

                                        </tr>
                                        

                                        <tr style="font-size: 16; border-top: 1px solid #dddddd;" *ngIf="couponStatus==1">
                                            <td colspan="2" style="vertical-align: inherit;"> 
                                                <span style="color: red;">Coupon Code Applied  </span>
                                            </td>
                                            <td style="vertical-align: inherit;">
                                                <span class="btn btn-sm btn-danger" class="fa fa-close" (click)="removeCouponcode();"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr style="font-size: 16; border-top: 1px solid #dddddd;" *ngIf="couponStatus==1">
                                            <td colspan="2" style="vertical-align: inherit;"> 
                                               Coupon Discount
                                            </td>
                                            <td style="vertical-align: inherit;">
                                                {{couponapplyamt | currency:productService?.Currency.currency:'symbol'}}
                                            </td>
                                        </tr>

                                        <tr style="font-weight: bold; font-size: 16; border-top: 1px solid #dddddd;" *ngIf="couponStatus==1 || deliveryamt > 0">
                                            <td>Total</td>
                                            <td> &nbsp; </td>   
                                            <td>{{ ((finalamt+deliveryamt)-couponapplyamt) | currency:productService?.Currency.currency:'symbol' }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <!-- start process to billing to finishing part -->
                        <div class="col-lg-6 col-sm-12 col-xs-12" *ngIf="!isLogin">
                            <div class="p-3 mb-2 bg-warning text-dark" style="background-color: #F9F9F9!important;">
                                <h3> Hey! You are Just a Step Away, Just </h3>
                                <p>Login / Signup to Complete Process </p>
                                
                            </div>
                            <div class="row" style="margin: 0px 10px;">
                                <a routerLink="/pages/login" class="col-5 col-md-5 btn roundbtn" style="text-align: center;color:white!important;">Login</a>
                                <a class="col-1 col-md-2" href="javascript:void(0);">&nbsp;</a>
                                <a routerLink="/pages/register" class="col-5 col-md-5 btn roundbtn" style="text-align: center;color:white!important;">Signup</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12" *ngIf="isLogin">
                            <!-- check minimum amount according company wise set then decide open / close  -->
                            <div *ngIf="showWarningForMinCartValue==false">
                                <div class="p-3 mb-2 alert alert-danger" role="alert">
                                    Minimum Order Amount Can't be Less than <strong> {{minCartValue | currency:productService?.Currency.currency:'symbol' }} </strong>  
                                </div>                               
                            </div>
                            
                            <div *ngIf="showWarningForMinCartValue==false" class="row" style="margin: 0px 10px;">
                                <a routerLink="/home/fashion" class="col-12 col-md-12 btn btn-solid roundbtn" style="text-align: center;background: red;color: white!important;">Continue Shopping</a>
                            </div>


                            <!-- all including functinalities like as addresses,slots,mod,coupon code and wallet balance -->
                            <div class="row check-out" *ngIf="showWarningForMinCartValue==true">

                                <div class="col-md-12" style="margin:0px;">
                                    <div class="row" style="margin: 0px 10px;">
                                        
                                        <div class="col-md-12" style="padding: 2px;background-color: #FFFF00;">
                                            <strong> Step - 1 : </strong> &nbsp; Select Address
                                        </div>
                                        
                                        <!-- address not found here -->
                                        <div class="col-md-12" *ngIf="!addressList" style="padding: 8px 0px;">                                                                             
                                            <div class="p-3 mb-2 bg-warning text-dark">
                                                No address found !
                                            </div>
                                            <a style="text-align: right;font-weight: 600;background: #ffff00;
                                            padding: 5px;" href="javascript:void(0)"                                              
                                                 *ngIf="!isEditModeForAddress" 
                                                 (click)="showAddressPanel()">
                                                 +   New Address
                                             </a>
                                        </div>
                                        
                                        <!-- all address show here -->
                                        <div class="col-md-12" *ngIf="isAddressSelected && addressList" style="padding: 0px;"> 
                                            <div class="form-check" *ngFor="let address of addressList; let row_no = index" style="margin-bottom: 2px;">
                                                <input type="radio" class="form-check-input"
                                                    name="materialExampleRadios"
                                                    [(ngModel)]="selectedAddress" [value]="address" (change)="confirmAddress()">
                                                <label>
                                                    {{address.name}}  <span style="position: absolute;right: 10px;">{{address.mobile}}</span>                                               
                                                    <p class="card-text address-text" style="font-size: 10px; text-transform: initial;">
                                                        {{address.address}}, 
                                                        {{address.city}},
                                                        {{address.state}}
                                                    </p>
                                                </label>
                                            </div>       
                                            <!-- confirmAddress()-->
                                        </div>

                                        <!-- selected address show here -->
                                        <div class="col-md-12" *ngIf="!isAddressSelected && selectedAddress" style="padding: 0px;">                                  
                                            <div class="form-check">
                                                <label>
                                                    {{selectedAddress.name}} 
                                                    <span style="position: absolute;right: 10px;">{{selectedAddress.mobile}}</span>
                                                    <p class="card-text address-text" style="font-size: 10px; text-transform: initial;">
                                                        {{selectedAddress.address}},
                                                        {{selectedAddress.city}},
                                                        {{selectedAddress.state}}
                                                    </p>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <!-- address button add and change address -->
                                        <div class="col-md-12" style="margin: 5px 0px;padding: 0px;" *ngIf="!isAddressSelected">
                                            <a style="text-align: right;font-weight: 600;background: #ffff00;
                                            padding: 5px;" href="javascript:void(0)"                                              
                                                 *ngIf="!isEditModeForAddress" 
                                                 (click)="showAddressPanel()">
                                                 +   New Address
                                             </a>
 
                                             <a  href="javascript:void(0)"
                                                 *ngIf="!isAddressSelected"
                                                 (click)="showAddressList()"
                                                 style="float: right!important;color: red!important;">
                                                 Change Address
                                             </a> 
                                         </div>

                                        <!-- add addresses -->
                                        <div class="col-md-12" style="padding: 0px;">
                                            <form class="mobileForm" *ngIf="isEditModeForAddress" #addressForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                                                <h6>Add Address</h6>
                                                <div class="row">
                                                    <div class="col-md-12 form-group">
                                                        <input type="text" class="form-control" placeholder="Name"
                                                            name="firstName" [(ngModel)]="model.firstName">
                                                    </div>

                                                    <div class="col-md-12 form-group ">
                                                        <input type="number" class="form-control"
                                                            placeholder="Mobile Number" name="mobile"
                                                            [(ngModel)]="model.mobile">
                                                    </div>
                                                    <div class="col-md-12 form-group ">   
                                                        <textarea style="height: 70px !important;" class="form-control" placeholder="Address"
                                                        name="addressLine1" rows="5" [(ngModel)]="model.addressLine1"></textarea>
                                                    </div>

                                                    <div class="col-md-12 form-group ">     
                                                        <select class="form-control" name="selectedState"
                                                            [(ngModel)]="model.state" (change)="stateChange($event.target.value)">
                                                            <option *ngFor="let state of stateList" [value]="state.id">
                                                                {{state.name}}</option>
                                                        </select>
                                                    </div>
                                                    
                                                    <div class="col-md-12 form-group ">                                                        
                                                        <select class="form-control" name="city"
                                                        [(ngModel)]="model.city">
                                                            <option *ngFor="let city of cityList" [value]="city.id">
                                                                {{city.name}}</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="row" style="margin: 5px 0px;">
                                                    <div class="col-6 col-md-6">
                                                        <button 
                                                        style="
                                                        border-radius: 15px;
                                                        padding: 5px 20px;
                                                        background: red;"
                                                        type="submit" class="btn btn-solid btn-primary btn-sm">Save</button>
                                                    </div>
                                                    <div class="col-6 col-md-6">
                                                        <button 
                                                        style="
                                                        border-radius: 15px;
                                                        padding: 5px 18px;
                                                        background: red;"
                                                        class="btn btn-solid btn-info btn-sm" (click)="closeAddressPanel()">Close</button>
                                                    </div>
                                                </div>                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                


                                <div class="col-md-12" style="margin: 0px 0px;padding: 0px 25px;">
                                    <div class="row" style="margin-right: 0px;margin-left: 0px;"> 
                                        <div class="col-md-12" style="padding: 2px;background-color: #FFFF00;">
                                            <strong>Step - 2 :</strong> Ordering Method 
                                        </div>  
                                        <div class="col-md-12" style="padding-right: 0px;padding-left: 10px;">
                                            <div class="row" style="margin-right: 0px;margin-left: 0px;">   
                                                <div class="col-6 col-md-6" *ngFor="let ordering of orderingMethodOptions;">
                                                    <span *ngIf="orderAcceptingMethods=='1,2' || orderAcceptingMethods=='2,1'">
                                                        <input type="radio" class="form-check-input" 
                                                         name="orderingMethod" [(ngModel)]="orderingMethodObj" value="{{ordering.code}}" (change)="onOrderingChange(ordering.code)">
                                                        <label class="form-check-label">{{ordering.desc}}</label>
                                                    </span>
                                                    <span *ngIf="orderAcceptingMethods==ordering.code || orderAcceptingMethods==ordering.code">
                                                        <input 
                                                         type="radio" 
                                                         class="form-check-input" 
                                                         name="orderingMethod"
                                                         [checked]="orderingMethodObj==ordering.code"
                                                         [(ngModel)]="orderingMethodObj" 
                                                         value="{{ordering.code}}" 
                                                         (change)="onOrderingChange(ordering.code)"
                                                         >
                                                        <label class="form-check-label">{{ordering.desc}}</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" *ngIf="isSchedule > 0" style="padding-right: 1px;
                                            padding-left: 5px;margin-top: 10px;">

                                            <h6 style="line-height: 2px;font-size: smaller;">Select Scheduled Date & Slot</h6>
                                            <!-- choose date then filter slots -->
                                            <div class="row" style="padding-right: 0px;padding-left: 0px;">
                                                <div class="col-9 col-md-9 form-group" *ngIf="isSlotSelected">
                                                    <input 
                                                        style="height: 30px; font-size: 12px;"
                                                        type="date"
                                                        [(ngModel)]="bsSelectedValue"
                                                        (ngModelChange)="onCalendarValueChange($event)"
                                                        class="form-control" 
                                                        name="bsSelectedValue" 
                                                        min="{{ backdate }}" min="{{ backdate }}">
                                                </div>
                                                <div class="col-3 col-md-3 form-group" *ngIf="isSlotSelected" (click)="changeSlot()" style="color: red;">
                                                    Change
                                                </div>

                                                <div class="col-12 col-md-12 form-group" *ngIf="!isSlotSelected">
                                                    <input 
                                                        style="height: 30px; font-size: 12px;"
                                                        type="date"
                                                        [(ngModel)]="bsSelectedValue"
                                                        (ngModelChange)="onCalendarValueChange($event)"
                                                        class="form-control" 
                                                        name="bsSelectedValue" 
                                                        min="{{ backdate }}" height="38px">
                                                </div>
                                            </div>

                                            <!-- all slots list here -->
                                            <div class="row" *ngIf="!isSlotSelected" style="margin: 10px 0px;">
                                                <div class="col-6 col-md-6 form-check" *ngFor="let slot of slotsList; let row_no = index">
                                                    <input type="radio" class="form-check-input"
                                                        name="slotDetails" [(ngModel)]="selectedSlot"
                                                        [value]="slot" (change)="confirmSlots()">
                                                    <label class="form-check-label">{{slot.start_time}} -
                                                        {{slot.end_time}}</label>
                                                </div>                                        
                                                <!-- confirmSlots() -->
                                            </div>
                                            
                                            <!-- selected slot here -->
                                            <div  class="row" *ngIf="isSlotSelected && selectedSlot" style="margin: 10px 0px;">
                                                <label class="form-check-label" style="color: green!important;
                                                font-weight: 600;">
                                                    Selected {{selectedSlot.start_time}} - {{selectedSlot.end_time}}
                                                </label>
                                            </div> 
                                        </div>    

                                    </div> 
                                </div>
                                
                                <div class="col-md-12" style="margin: 0px 0px;padding: 0px 25px;">
                                    <div class="col-md-12" style="padding: 2px;background-color: #FFFF00;">
                                        <strong>Step - 3 :</strong> Select Payment Mode
                                    </div>
                                    <!-- all mode of payment choose you pay amount -->
                                    <div class="row" style="margin-right: 0px;margin-left: 10px;">
                                        <div class="col-6 col-md-6" *ngFor="let payment of paymentMethodOptions; let row_no = index">
                                            <input type="radio" class="form-check-input" 
                                                name="paymentMethod" [(ngModel)]="paymentMethodObj" [value]="payment">
                                            <label class="form-check-label">{{payment.desc}}</label>
                                        </div>
                                    </div>


                                    <!-- *ngIf="showPayment" -->
                                    <!-- save appoinment data -->
                                    <div class="" style="margin-top: 15px;text-align: center;">
                                        <button 
                                            style="border-radius: 20px;padding: 9px;background: red;"
                                            type="button"                                              
                                            class="btn btn-danger btn-sm" 
                                            (click)="placeOrder()">
                                            Confirm Payment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end process to billing to finishing part -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>