<!-- Start Categories List -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
    <h3 class="collapse-block-title" (click)="collapse = !collapse">Category</h3>
    <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <ul class="category-list">
                <!--
                <li *ngFor="let category of categoryList">
                    <a [routerLink]="['/shop/collection/left/sidebar']"
                       [queryParams]="{ category: category}">
                        {{ category.category_name}}
                    </a>
                </li>
                [routerLink]="['/shop/productList/left/sidebar/',category.category_id]"
                -->
                <li *ngFor="let category of categoryList">
                    <a  href="javascript:void(0);"
                        (click)="categoryRoute(category.category_id)"                         
                        class="{{isActive(category.category_id)}}">
                        {{ category.category_name}}
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<!-- End Categories List -->