/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';


body111 {
    background-color: #f9f9f9;
    font-family: 'Spectral SC', serif;
    margin: 0;
}
  

.bg-gradient{    
    background: #dfdfdf!important;
}
@media (max-width: 577px){
    
    #toast-container{
        margin-left: 30px!important;
        margin-right: 0px;
    }
    
    .toast-top-right {
        top: 10px;
        right: -15px;
    }
    // #toast-container{
    //     position:sticky;z-index:1055;top:0
    // }
    // #toast-wrapper{
    //     position:absolute;top:0;right:0;margin:5px
    // }
    // #toast-container>#toast-wrapper>.toast{
    //     min-width:110px
    // }
    // #toast-container>#toast-wrapper>.toast>.toast-header strong{
    //     padding-right:20px
    // }
}